


.masthead{
    background-size: cover;
    min-height: 65vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 2)
}

.masthead h1{
    font-size: 4rem;
    text-align: center;
}

.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

@media(max-width: 768px){
    .masthead{
        min-height: 30hv;
    }
}

.nav-link{
    position: relative;
}


.nav-link::after{
    transition: all 0.7s;
    opacity: 0;
    content: '';
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}



.wrapper {
	padding: 80px 0;
}
.section-header {
	padding-bottom: 15px;
}
.section-header h2 {
	font-weight: 700;
}
.icon-area {
	text-align: center;
}
.icon-area i {
	font-size: 80px;
	margin-bottom: 20px;
}
.content p {
	width: 60%;
	margin: auto;
}
.img-area {
	width: 100px;
	height: 100px;
	display: block;
	margin: auto;
	overflow: hidden;
	border: 10px inset #fff;
	margin-bottom: 30px;
}
.img-area img {
	width: 100%;
}
.content h5 {
	font-weight: 900;
	margin-top: 15px;
}
.carousel-indicators {
	bottom: -80px;
}
.carousel-indicators [data-bs-target] {
	width: 60px;
	height: 10px;
	background-color: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
	.content p {
		width: 95%;
	}
}
@media (max-width: 767px) {
	.wrapper {
		padding: 30px 0;
	}
	.content p {
		width: 100%;
	}
	.icon-area i {
		font-size: 50px;
	}
}